---
import Page from "../../../layouts/Page.astro";
import GardenSeedPreview, { GardenSeed } from "../../../components/GardenSeedPreview.astro";

let title = "Garden";
const { tag } = Astro.request.params;
let GardenSeeds = Astro.fetchContent<GardenSeed>('../seeds/*.md');
GardenSeeds = GardenSeeds.filter(seed => seed.tags.includes(tag))
export async function getStaticPaths() {
    const tags = ['Historia Dominicana', 'Programming', 'Productivity', 'Religion', 'Thoughts', 'Theology' ,'Web Development', 'Blockchain', 'Solidity', 'Web3'];
    return tags.map( tag => ({params: { tag}}));
}
---
<Page title={title}>
    <article class="max-w-5xl pt-20 mx-auto overflow-visible text-left text-gray-700">
        <h2 class="mb-8 text-xl font-bold text-gray-500">Welcome to my Digital Garden</h2>
        <section class="text-sm italic text-gray-500">
            <p>Results for the tag: <span class="inline-block text-dodgerblue-400">"{ tag }"</span></p>
        </section>

        <section class="flex px-2 mt-10 space-x-2">
            {GardenSeeds.map( seed => 
                <a href={`/garden/seeds/${seed.slug}`}><GardenSeedPreview seed={seed} classes="max-w-md" /></a>)}
        </section>
    </article>
</Page>