---
import SectionTag from "../SectionTag.astro";
interface Props {
    title: string;
    tags?: string[];
    id?: string
}
const { title, tags, id} = Astro.props;
---
<article class="md:px-4 project-section" id={id}>
    <section class="flex flex-col section-card md:flex-row">
        <div class="w-4/12 section-card_left">
            <SectionTag
                title={title}
                tags={tags}
            />
        </div>
        <div class="mt-48 text-lg md:px-4 section-card_body md:space-y-5 md:mt-0 md:w-8/12">
            <slot />
        </div>
    </section>
</article>

<style lang="scss">
    article {
        @apply bg-white;
        color: var(--text-color);
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 100vh;
    }
    
    section.section-card {
        display: flex;
        justify-content: center;
        align-items: center;
        @apply w-11/12 md:w-8/12 max-w-6xl mx-auto relative;
    }
</style>
