---
import SectionTag from "../SectionTag.astro";
const { title, tags} = Astro.props;
---
<article class="px-4 project-section" id="projects">
    <section class="flex flex-col section-card md:flex-row">
        <div class="w-4/12 section-card_left">
            <SectionTag
                title={title}
                tags={tags}
            />
        </div>
        <div class="px-4 mt-48 space-y-10 text-lg section-card_body md:space-y-5 md:px-20 md:mt-0 md:w-8/12">
            <slot />
        </div>
    </section>
</article>

<style lang="scss">
    article {
        @apply bg-white;
        color: var(--text-color);
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 100vh;
    }
    
    section.section-card {
        display: flex;
        justify-content: center;
        align-items: center;
        @apply w-11/12 md:w-8/12 max-w-6xl mx-auto relative;
    }
</style>
