---
import SectionTag  from "../SectionTag.astro";
---
<article class="intro-section" id="about">
    <section class="flex flex-col items-center pb-10 rounded-md personal-card md:pb-0 md:flex-row">
        <div class="flex">
            <div class="relative w-4/12">
                <SectionTag 
                    title="Jesus" 
                    subtitle="Guerrero"
                    tags={['Full-Stack Developer', 'Software Engineer', 'Creator']}
                />
            </div>

            <div class="px-10 mt-64 space-y-10 text-lg text-gray-200 personal-card_body md:space-y-5 md:px-20 md:mt-0 md:w-8/12">
                 <p>         
                    I'm a system engineer and full-stack developer from the Dominican Republic 
                    who is passionate about programming in general, web development 
                    and  <a href="/projects/vue">Vue.js</a>. Building dreams with 
                    <a href="/projects/laravel">Laravel</a> and playing around with 
                    <a href="/projects/web3">web3</a>.
                </p>

                <p class="hidden md:block">
                    I love to learn new things, share knowledge and create (apps, poetry). 
                    When not, I am singing Bob Marley's songs.
                </p>

                <p>
                    Find me on <a href="https://twitter.com/jesusntguerrero" target="_blank" rel="me noopener noreferrer"> Twitter</a>, 
                    <a href="https://github.com/jesusantguerrero">Github</a>, 
                    <a href="https://dev.to/jesusantguerrero">Dev.to</a> or
                    <a href="https://freesgen.hashnode.dev">Hashnode</a>
                </p>
            </div>
        </div>
    </section>
</article>

<style lang="scss">
    article {
        @apply rounded-lg shadow-lg;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    section.personal-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: calc(100% - 120px);
        margin: auto;
        position: relative;
        @apply bg-slate-700 
        text-gray-700
        max-w-6xl
        mx-auto;

        &:after {
            content: '';
            position: absolute;
            bottom: -3px;
            right: 20%;
            height: 0;
            width: 0;
            border-bottom: 30px solid var(--darken-primary-color);
            @apply border-slate-800 z-10;
            border-right: 50px solid transparent;
            border-left: 50px solid transparent;
            border-top: 50px solid transparent;
        }
    }

    @media (max-width: 768px) {
        article {
            height: fit-content;
        }

        section.personal-card {
            width: 90%;
            height: 95%;
            margin-top: 60px;

             &:after {
                bottom: 0;
                right: 20%;
                height: 0;
                width: 0;
                border-bottom: 16px solid var(--darken-primary-color);
                @apply border-white;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                border-top: 20px solid transparent;
            }
        }
    }
</style>
