---
import { Markdown } from 'astro/components';
import SectionTag  from "../SectionTag.astro";
---
<article class="intro-section">
    <section class="flex flex-col personal-card md:flex-row">
        <div class="w-4/12 mt-10 personal-card_left">
            <SectionTag 
                title="Jesus" 
                subtitle="Guerrero"
                tags={['Full-Stack Developer', 'Software Engineer', 'Creator']}
            />
        </div>

        <div class="px-10 mt-64 space-y-10 text-lg text-gray-500 personal-card_body md:space-y-5 md:px-20 md:mt-0 md:w-8/12">
            <Markdown>         
                I'm a system engineer and full-stack developer from Dominican Republic who is 
                passionate about programming in general, web development and [Vue.js](https://v3.vuejs.org). Currently working at 
                [MCTekk](https://mctekk.com) mostly doing frontend development.
            </Markdown>
            <p class="hidden md:block">
                I love to learn new things, share knowledge and create (apps, poetry). 
                When not, I am singing Bob Marley's songs.
            </p>

            <Markdown>
                Find me on [Twitter](https://github.com/antfu/vitesse), [Github](), [Dev.to](https://dev.to/jesusantguerrero) or [Hashnode](https://freesgen.hashnode.dev).
            </Markdown>
        </div>
    </section>
</article>

<style lang="scss">
    article {
        @apply bg-white rounded-lg shadow-lg;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    section.personal-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        margin: auto;
        position: relative;
        @apply bg-gray-50 
        text-gray-700
        max-w-6xl
        mx-auto;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 20%;
            height: 0;
            width: 0;
            border-bottom: 30px solid var(--darken-primary-color);
            @apply border-white;
            border-right: 50px solid transparent;
            border-left: 50px solid transparent;
            border-top: 50px solid transparent;
        }
    }

    @media (max-width: 768px) {
        article {
            height: fit-content;
        }

        section.personal-card {
            width: 90%;
            height: 95%;

             &:after {
                bottom: 0;
                right: 20%;
                height: 0;
                width: 0;
                border-bottom: 16px solid var(--darken-primary-color);
                @apply border-white;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                border-top: 20px solid transparent;
            }
        }
    }
</style>
