---
import { Markdown } from 'astro/components';
import { more } from "../../utils/curriculum.ts";
import Project from "../Project.astro";
import BlockSection from "./BlockSection.astro";

---
<BlockSection 
    id="more"
    title="More"
    tags={["My Digital Garden", "Books", "PlayList"]}
>   
    <div class="mt-10 space-y-5">
        { more.map(post => (
            <Project project={post} />
        ))}
    </div>
</BlockSection>
