---
import ContactForm from "../ContactForm.vue";
import BlockSection from "./BlockSection.astro";

---
<BlockSection 
    id="Contact"
    title="Contact"
    tags={["Fill the contact form to get in touch"]}
>
    <div class="flex items-center justify-center mt-10 mb-5 space-y-5">
        <ContactForm client:load />
    </div>
</BlockSection>
