---
import { portfolio } from "../../utils/curriculum.ts";
import Project from "../Project.astro";
import SearchBox from "../SearchBox.vue";
import BlockSection from "./BlockSection.astro";
---
<BlockSection
    id="projects"
    title="Projects"
    tags={["Some of the stuff I'm most proud about"]}    
>  
    <SearchBox text="Some of my projects" client:visible />
    
    <div class="mt-10 space-y-5">
        { portfolio.map(project => (
            <Project project={project} target="_blank" />
        ))}
    </div>
</BlockSection>
