---
import { fetchPostsByUser } from "../../utils/apis.ts";
import Project from "../Project.astro";
import BlockSection from "./BlockSection.astro";

const posts = await fetchPostsByUser('freesgen');
---
<BlockSection 
    id="writing"
    title="Writing"
    tags={["My latest posts"]}
>
    <div class="mt-10 space-y-5 mb-5">
        { posts.map(post => (
            <Project project={post} projectType="article" className="w-full" />
        ))}
        <div class="w-full flex justify-center">
            <a href="https://dev.to/jesusantguerrero" target="_blank" class="mx-auto transition hover:bg-primary-400 bg-primary-500 shadow-lg shadow-primary-500/50 text-white px-5 rounded-md py-2">See my posts on Dev.to</a>
        </div>
    </div>
</BlockSection>
