---
import Page from '../layouts/Page.astro';
import Intro from '../components/sections/Intro.astro';
import Projects from '../components/sections/Projects.astro';
import Writing from '../components/sections/Writing.astro';
import More from '../components/sections/More.astro';
import NewsLetter from '../components/sections/NewsLetter.astro';

let title = 'Jesus Guerrero';
---
<Page title={title}>
    <Intro></Intro>
    <Projects></Projects>
    <Writing></Writing>
    <div class="md:mt-20">
        <More></More>
    </div>
    <NewsLetter />
</Page>
