---
export interface GardenSeed {
    title: string,
    planted: string,
    tags: string[]
}

export interface Props {
    seed: GardenSeed
}

const { seed } = Astro.props;
---

<div class="px-10 py-5 text-gray-400 transition transform border border-gray-100 rounded-lg cursor-pointer hover:text-gray-500 hover:bg-gray-50">
    <h4 class="font-bold ">{seed.title}</h4>
    { seed.description && <p class="mt-2 text-sm"> seed.description </p>}
    <div class="flex items-center justify-between">
        <div class="language-container">
            <p class="space-x-2"> { seed.tags && seed.tags.map(tag => (
                <span class="py-1 text-xs rounded-md text-accent-500">#{ tag }</span>
            ))}</p>
        </div>
        <div class="capitalize">
            Lang: { seed.language }
        </div>
    </div>
    <div class="divide-y-2 divide-gray-400"></div>
    <div class="flex justify-between">
        <div>
            { seed.planted }
        </div>
        <div class="capitalize">
            { seed.status }
        </div>
    </div>
</div>