---
export interface Props {
    title: string
    subtitle?: string
    tags: string[]
}

const { title, subtitle, tags } = Astro.props;
---

<div class="text-5xl font-bold section-tag top-8 md:top-0 md:text-5xl -left-3 md:-left-5 lg:-left-9">
    <p class="text-accent">{ title }</p>
    <p class="mb-0 pl-14 text-accent">{ subtitle }</p>
    <p class="mt-5 text-sm pl-14 md:max-w-2xl text-primary-300">
        { tags.join(' / ')}
    </p>
</div>

<style>
 .section-tag {
    position: absolute;
 }
</style>