---
import { getCollection } from 'astro:content';
import {ViewTransitions} from 'astro:transitions';
import Header from '../../components/Header.vue';
export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{entry.data.title}</title>
    <ViewTransitions />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <main class="px-5 pb-20 md:px-0">
        <Header client:visible show-logo={true} />
        <article class="pt-20 mx-auto overflow-visible max-w-7xl">
            <h1 class="mb-1 text-xl font-bold text-gray-400"> {entry.data.title }</h1>
            <section class="mt-4 prose prose-2xl text-gray-500 seed-article">
                { entry.data.imageUrl ? <img src={entry.data.imageUrl}  transition:persist="image" /> : null }
                <Content />
            </section>
        </article>
    </main>
    <footer class="w-full py-5 text-gray-400 border-t">
        <div class="mx-auto text-xs max-w-7xl">2021 Made with <span class="font-bold text-accent-400">code</span> by <span class="font-bold underline">Jesus Guerrero</span></div>
    </footer>
</body>
</html>

<style lang="scss" is:global>
.seed-article a, .seed-article .prose a {
    &[href*="/garden/seeds/"] {
        @apply text-dodgerblue-400 font-bold border-dashed border-b no-underline border-dodgerblue-400;
    }
}
</style>
