---
import { Markdown } from 'astro/components';
import Page from "../../layouts/Page.astro";
import GardenSeedPreview, { GardenSeed } from "../../components/GardenSeedPreview.astro";

let title = "Garden";
let GardenSeeds = await Astro.glob<GardenSeed>('./seeds/*.md');
---
<Page title={title} showLogo={true}>
    <article class="prose max-w-4xl pt-20 mx-auto overflow-visible text-left text-gray-700">
        <h2 class="mb-8 text-xl font-bold text-gray-500">Welcome to my Digital Garden</h2>
        <section class="text-gray-500 mx-auto">
            <Markdown>
                This is a collection of thoughts, notes, resources and explorations I'm currently cultivating. I let myself immerse in some topics of my interest even out of tech.
            </Markdown>
        </section>

        <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 mt-10">
            {GardenSeeds.map( seed => 
                <GardenSeedPreview seed={seed} classes="max-w-md mx-2 my-2" />
            )}
        </section>
    </article>
</Page>
