---
import Header from "../components/Header.vue"
import Footer from "../components/Footer.vue"
import Webmentions from "../components/Webmentions.astro"

const { title, showLogo } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <Webmentions />
</head>
<body>
    <main class="pb-20">
        <Header client:load show-logo={showLogo}></Header>
        <slot />
    </main>
    <Footer client:visible />
</body>
</html>

<style>
html {
    background: white;
}
</style>
