---
import Header from "../components/Header.vue"
import Footer from "../components/Footer.vue"

const { title, showTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
</head>
<body>
    <main class="mb-20">
        <Header client:load show-title={showTitle}></Header>
        <slot />
    </main>
    <Footer client:visible />
</body>
</html>

<style>
html {
    background: white;
}
</style>
