---
import Header from "../components/Header.vue"
import Footer from "../components/Footer.vue"
import Webmentions from "../components/Webmentions.astro"
import { ViewTransitions } from 'astro:transitions';
import "../styles/global.css"

const { title, showLogo } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <Webmentions />
    <meta name="title" content="Jesus Guerrero">
    <meta name="description" content="I’m a system engineer and full-stack developer from the Dominican Republic who is passionate about programming in general, web development and Vue.js.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jesusantguerrero.com/">
    <meta property="og:title" content="Jesus Guerrero">
    <meta property="og:description" content="I’m a system engineer and full-stack developer from the Dominican Republic who is passionate about programming in general, web development and Vue.js.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jesusantguerrero.com/">
    <meta property="twitter:title" content="Jesus Guerrero">
    <meta property="twitter:description" content="I’m a system engineer and full-stack developer from the Dominican Republic who is passionate about programming in general, web development and Vue.js.">
    <meta property="twitter:image" content="">
    <ViewTransitions />
</head>
<body class="bg-slate-800">
    <main class="pb-20">
        <Header client:load show-logo={showLogo}></Header>
        <main class="px-5 py-20 md:px-0">
            <slot />
        </main>
    </main>
    <Footer client:visible />
</body>
</html>

<style>
html {
    background: white;
}
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SLLPWB6194"></script>
<script>
    // @ts-ignore
    window.dataLayer = window.dataLayer || [];
    // @ts-ignore
    function gtag(){dataLayer.push(arguments);}
    // @ts-ignore
    gtag('js', new Date());
    // @ts-ignore
    gtag('config', 'G-SLLPWB6194');
</script>
